<div class="compare-card">

    <div class="compare-card__header">
        <div class="compare-card__title">Магамадова Танзіла Вахівна</div>
        <div class="compare-card__position">2016, Кандидат на посаду</div>
        <div class="compare-card__action">

        </div>

        <div class="compare-card__actions card-actions">

            <div class="card-actions__items">

                <div class="card-actions__items-inner">

                    <div class="compare-card__dropdown card-actions__action drop-down-btn"></div>

                    <div class="card-actions__action close-btn"></div>

                </div>

            </div>

            <div class="card-actions__action-link action-link">
                <div class="action-link__dot"></div>
                <div class="action-link__dot"></div>
                <div class="action-link__dot"></div>
            </div>

        </div>


    </div>

    <div class="compare-card__items">

        <div class="compare-card__item compare-card__desktop">
            <div class="compare-card__item-name">Тип/Рік</div>
            <div class="compare-card__item-value">Кандидат на посаду, 2018</div>
        </div>

        <div class="compare-card__item">
            <div class="compare-card__item-name">Місце праці</div>
            <div class="compare-card__item-value">Харківська область, головне управління Пенсійного фонду України в Харківській області</div>
        </div>

        <div class="compare-card__item">
            <div class="compare-card__item-name">Посада</div>
            <div class="compare-card__item-value">Головний спеціаліст відділу з питань призначення та перерахунків пенсій № 8 управління застосування пенсійного фонду України в Харківскій області</div>
        </div>

    </div>

</div>