<div class="deep-search search-form__deep-search-block">
    <div class="deep-search__title">Я шукаю за джерелами</div>
    <div class="deep-search__inner">

        <div class="n-checkbox deep-search__all">
            <input type="checkbox" id="all" name="donation" value="all" class="n-checkbox__input uncountable">
            <label for="all" class="n-checkbox__label">
                <span class="n-checkbox__label-box"></span>
                <span class="n-checkbox__label-text">Всі</span>
            </label>
        </div>

        <div class="deep-search__filters">
            <div class="deep-search__filter deep-search__filter--green">

                <div class="deep-search__filter-title">
                    <span class="deep-search__filter-title-text">Декларації</span>
                    <div class="n-checkbox">
                        <input type="checkbox" id="declaration" name="donation" value="declaration" class="n-checkbox__input uncountable deep-search__column">
                        <label for="declaration" class="n-checkbox__label">
                            <span class="n-checkbox__label-text">Декларації</span>
                            <span class="n-checkbox__label-box"></span>
                        </label>
                    </div>
                    <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.833374 0.333252L5.00004 4.49992L9.16671 0.333252L0.833374 0.333252Z" fill="#111111"/>
                    </svg>
                </div>

                <div class="deep-search__filter-body">

                    <div class="filter-year">

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="declaration1" name="donation" value="declaration1" class="n-checkbox__input declaration">
                            <label for="declaration1" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Власники значної частки СМІДА</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="declaration2" name="donation" value="declaration2" class="n-checkbox__input declaration">
                            <label for="declaration2" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Помічники народних депутатів</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="declaration3" name="donation" value="declaration3" class="n-checkbox__input declaration">
                            <label for="declaration3" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Помічники місцевих депутатів</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="declaration4" name="donation" value="declaration4" class="n-checkbox__input declaration">
                            <label for="declaration4" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Єдиний державний реєстр(ЄДР)</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="declaration5" name="donation" value="declaration5" class="n-checkbox__input">
                            <label for="declaration5" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Єдиний державний реєстр(ЄДР)</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="declaration6" name="donation" value="declaration6" class="n-checkbox__input">
                            <label for="declaration6" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Єдиний державний реєстр(ЄДР)</span>
                            </label>
                        </div>

                    </div>

                </div>

            </div>
            <div class="deep-search__filter deep-search__filter--magento">

                <div class="deep-search__filter-title">
                    <span class="deep-search__filter-title-text">Нерухомість</span>
                    <div class="n-checkbox">
                        <input type="checkbox" id="realestate" name="donation" value="realestate" class="n-checkbox__input uncountable deep-search__column">
                        <label for="realestate" class="n-checkbox__label">
                            <span class="n-checkbox__label-text">Нерухомість</span>
                            <span class="n-checkbox__label-box"></span>
                        </label>
                    </div>
                    <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.833374 0.333252L5.00004 4.49992L9.16671 0.333252L0.833374 0.333252Z" fill="#111111"/>
                    </svg>
                </div>

                <div class="deep-search__filter-body">

                    <div class="filter-year">

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="realestate1" name="donation" value="realestate1" class="n-checkbox__input realestate">
                            <label for="realestate1" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Власники значної частки СМІДА</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="realestate2" name="donation" value="realestate2" class="n-checkbox__input realestate">
                            <label for="realestate2" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Помічники народних депутатів</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="realestate3" name="donation" value="realestate3" class="n-checkbox__input realestate">
                            <label for="realestate3" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Помічники місцевих депутатів</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="realestate4" name="donation" value="realestate4" class="n-checkbox__input realestate">
                            <label for="realestate4" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Єдиний державний реєстр(ЄДР)</span>
                            </label>
                        </div>

                    </div>

                </div>

            </div>
            <div class="deep-search__filter deep-search__filter--orange">

                <div class="deep-search__filter-title">
                    <span class="deep-search__filter-title-text">Ліцензії</span>
                    <div class="n-checkbox">
                        <input type="checkbox" id="license" name="donation" value="license" class="n-checkbox__input uncountable deep-search__column">
                        <label for="license" class="n-checkbox__label">
                            <span class="n-checkbox__label-text">Ліцензії</span>
                            <span class="n-checkbox__label-box"></span>
                        </label>
                    </div>
                    <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.833374 0.333252L5.00004 4.49992L9.16671 0.333252L0.833374 0.333252Z" fill="#111111"/>
                    </svg>
                </div>

                <div class="deep-search__filter-body">

                    <div class="filter-year">

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="license1" name="donation" value="license1" class="n-checkbox__input license">
                            <label for="license1" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Власники значної частки СМІДА</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="license2" name="donation" value="license2" class="n-checkbox__input license">
                            <label for="license2" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Помічники народних депутатів</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="license3" name="donation" value="license3" class="n-checkbox__input license">
                            <label for="license3" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Помічники місцевих депутатів</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="license4" name="donation" value="license4" class="n-checkbox__input license">
                            <label for="license4" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Єдиний державний реєстр(ЄДР)</span>
                            </label>
                        </div>

                    </div>

                </div>

            </div>
            <div class="deep-search__filter deep-search__filter--light-green">

                <div class="deep-search__filter-title">
                    <span class="deep-search__filter-title-text">Вибори</span>
                    <div class="n-checkbox">
                        <input type="checkbox" id="vote" name="donation" value="vote" class="n-checkbox__input uncountable deep-search__column">
                        <label for="vote" class="n-checkbox__label">
                            <span class="n-checkbox__label-text">Вибори</span>
                            <span class="n-checkbox__label-box"></span>
                        </label>
                    </div>
                    <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.833374 0.333252L5.00004 4.49992L9.16671 0.333252L0.833374 0.333252Z" fill="#111111"/>
                    </svg>
                </div>

                <div class="deep-search__filter-body">

                    <div class="filter-year">

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="vote1" name="donation" value="vote1" class="n-checkbox__input vote">
                            <label for="vote1" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Власники значної частки СМІДА</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="vote2" name="donation" value="vote2" class="n-checkbox__input vote">
                            <label for="vote2" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Помічники народних депутатів</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="vote3" name="donation" value="vote3" class="n-checkbox__input vote">
                            <label for="vote3" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Помічники місцевих депутатів</span>
                            </label>
                        </div>

                        <div class="filter-year__item n-checkbox">
                            <input type="checkbox" id="vote4" name="donation" value="vote4" class="n-checkbox__input vote">
                            <label for="vote4" class="n-checkbox__label">
                                <span class="n-checkbox__label-box"></span>
                                <span class="n-checkbox__label-text">Єдиний державний реєстр(ЄДР)</span>
                            </label>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="deep-search__bottom">

        <div class="deep-search__count-block count-block">
            <div class="count-block__title">Кількість джерел:</div>
            <div class="count-block__count filter-count">0</div>
        </div>

        <button class="deep-search__btn deep-search__reset n-btn n-btn_gray">Скинути всі</button>

        <button class="deep-search__btn n-btn">Застосувати</button>

    </div>
</div>