<div class="footer">

    <div class="container footer__inner">

        <div class="footer__top">

            <div class="project-menu">

                <div class="project-menu__title">Проекти</div>

                <div class="project-menu__items">
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">декларації</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">лабораторія</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">котики</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">тисни!</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">ring</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">підсумки дня</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">наші гроші</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">он воно як</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">посіпаки</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">посіпаки 2</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">гра слів</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">блоги</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">nevid</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">e.БТІ</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">гарнахата</a>
                    </div>
                    <div class="project-menu__item">
                        <a href="#" class="project-menu__link">свої люди</a>
                    </div>
                </div>


            </div>

        </div>

        <div class="footer__medium">

            <div class="project-description-block">
                <img src="img/logo-white.svg" alt="Bihus logo" class="project-description-block__logo">
                <div class="project-description-block__text">Bihus.info об'єднує антикорупційні проекти, які створює ГО
                    "ТОМ 14" та ГО "Канцелярська сотня".
                </div>
            </div>

            <div class="footer__subscription subscription-block">
                <div class="subscription-block__title">Підписатися на розсилку</div>
                <form class="subscription-block__form subscription-form">
                    <div class="subscription-form__input-wrap">
                        <input class="n-input subscription-form__input" placeholder="Введіть ваш e-mail">
                    </div>
                    <button class="n-btn subscription-form__btn">Підписатись</button>
                </form>
            </div>

        </div>

        <div class="footer__bottom">

            <div class="social-block">

                <div class="social-block__title">Ми у соц мережах</div>

                <div class="social-block__items">

                    <div class="social-block__item">
                        <a href="#" class="social-block__link social-link">
                            <img src="img/social/facebook-white.svg" alt="Facebook" class="social-link__icon">
                            <span class="social-link__title">Facebook</span>
                        </a>
                    </div>

                    <div class="social-block__item">
                        <a href="#" class="social-block__link social-link">
                            <img src="img/social/twitter-white.svg" alt="Twitter" class="social-link__icon">
                            <span class="social-link__title">Twitter</span>
                        </a>
                    </div>

                    <div class="social-block__item">
                        <a href="#" class="social-block__link social-link">
                            <img src="img/social/youtube-white.svg" alt="YouTube" class="social-link__icon">
                            <span class="social-link__title">YouTube</span>
                        </a>
                    </div>

                    <div class="social-block__item">
                        <a href="#" class="social-block__link social-link">
                            <img src="img/social/instagram-white.svg" alt="Instagram" class="social-link__icon">
                            <span class="social-link__title">Instagram</span>
                        </a>
                    </div>

                </div>

            </div>

            <div class="copyright-block footer__copyright">Bihus.info © 2015 - 2019</div>

        </div>


    </div>
</div>