<div class="header">

    <div class="header__inner">

        <div class="header__column header__mobile">

            <div class="mobile-menu-link">
                <div class="mobile-menu-link__line"></div>
                <div class="mobile-menu-link__line"></div>
                <div class="mobile-menu-link__line"></div>
            </div>

            @@include('lang-switch.html', { "class": "header__lang-switch-mobile" })

        </div>

        <div class="header__column">

            <div class="logo-block">
                <a href="/" class="logo-block__link">
                    <picture class="logo-block__img">
                        <source media="(min-width: 1024px)" srcset="img/logo.svg">
                        <img src="img/logo-mobile.svg" alt="Bihus logo">
                    </picture>
                </a>
            </div>

            <div class="header__menu main-menu">
                <div class="main-menu__item">
                    <a href="popup/about.html" class="main-menu__link popup-btn">Про проект</a>
                </div>
                <div class="main-menu__item">
                    <a href="analytics.html" class="main-menu__link">Аналітика</a>
                </div>
                <div class="main-menu__item">
                    <a href="popup/api.html" class="main-menu__link popup-btn">Відкритий API</a>
                </div>
            </div>

        </div>

        <div class="header__column">

            <div class="compare-block header__compare">
                <div class="action-icon action-icon_dark compare-block__icon">
                    <img src="img/icon/compare-black.svg" alt="" class="action-icon__img">
                    <div class="action-icon__count">70+</div>
                </div>
            </div>

            <div class="account-block header__account">

                <svg class="account-block__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 12C14.4862 12 16.5 9.98625 16.5 7.5C16.5 5.01375 14.4862 3 12 3C9.51375 3 7.5 5.01375 7.5 7.5C7.5 9.98625 9.51375 12 12 12ZM12 14.25C8.99625 14.25 3 15.7575 3 18.75V21H21V18.75C21 15.7575 15.0037 14.25 12 14.25Z"
                          fill="#111111"/>
                </svg>

                <div class="account-block__dropdown">

                    <div class="account-block__dropdown-top">
                        <div class="account-block__user-name">Pavel Asadchenkov</div>
                        <div class="account-block__user-email">pavel.a@bachoodesign.com</div>
                    </div>

                    <div class="account-block__menu">
                        <div class="account-block__menu-item">
                            <a href="profile-request.html" class="account-block__menu-link">Мої запити</a>
                        </div>
                        <div class="account-block__menu-item">
                            <a href="profile-find.html" class="account-block__menu-link">Мої знахідки</a>
                        </div>
                    </div>

                    <div class="account-block__dropdown-bottom">

                        <a href="#" class="account-block__logout">Вийти</a>
                        
                    </div>

                </div>

            </div>

            @@include('lang-switch.html', { "class": "header__lang-switch" })

            <div class="header__support support-project-block">
                <a class="n-btn support-project-block__btn popup-btn"
                   data-width="664px"
                   href="popup/donate.html">Підтримати проект</a>
            </div>


        </div>

    </div>

    <div class="mobile-menu">

        <div class="mobile-menu__close-btn"></div>

        <div class="mobile-menu__inner">

            <div class="mobile-menu__top">
                <img src="img/logo.svg" alt="Bihus logo" class="mobile-menu__logo">
            </div>

            <div class="mobile-menu__items">

                <div class="mobile-menu__item">
                    <a class="mobile-menu__link popup-btn" href="popup/api.html">Відкритий Api</a>
                </div>

                <div class="mobile-menu__item">
                    <a class="mobile-menu__link popup-btn" href="popup/about.html">Про проект</a>
                </div>

                <div class="mobile-menu__item">
                    <a class="mobile-menu__link" href="analytics.html">Аналітика</a>
                </div>

            </div>

            <div class="mobile-menu__description">Bihus.info об'єднує антикорупційні проекти, які створює ГО "ТОМ 14" та
                ГО
                "Канцелярська сотня".
            </div>

            <a class="n-btn mobile-menu__donation popup-btn"
               data-width="664px"
               href="popup/donate.html">Підтримати проект</a>

        </div>


    </div>

</div>                      