<div class="search-page__results-column">
    <div class="search-card @@class">
        <div class="search-card__header">
            <div class="search-card__cat">
                Паперові декларації
            </div>
            <div class="search-card__title">
                Кличко Віталій Володимирович
            </div>
        </div>
        <div class="search-card__body">
            <div class="search-card__heading">
                ТИП ДЕКЛАРАЦІЇ ТА ЗВІТНИЙ ПЕРІОД:
            </div>
            <div class="search-card__content">
                2018, м. Київ
            </div>
            <div class="search-card__heading search-card__heading-find">
                Співпадіння у тексті:
            </div>
            <div class="search-card__content">
                одним з помічників була <span class="search-card__find">Ромашко Наталія Степанівна</span>
            </div>
        </div>
        <div class="search-card__footer">
            <a class="search-card__link" href="declarations.com.ua" rel="noopener" target="_blank">
                <span>declarations.com.ua</span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 8V13H3V3H8" stroke="#939394"/>
                    <path d="M6 10L13 3M13 3H9.5M13 3V6.5" stroke="#939394"/>
                </svg>
            </a>
        </div>
    </div>
</div>