<form class="search-form">

    <div class="search-form__left">

        <div class="search-form__input-wrap">

            <input type="text"
                   class="n-input search-form__input"
                   placeholder="Приклад пошуку: Айварас Абромавичус; Cуддя; Хмельницька область">

            <div class="search-form__autocomplete">
                <div class="search-form__autocomplete-item">
                    <div class="search-form__autocomplete-name"><b>Айвазовський</b> Сергій Павлович</div>
                </div>
                <div class="search-form__autocomplete-item">
                    <div class="search-form__autocomplete-name"><b>Айвазовський</b> Сергій Павлович</div>
                </div>
                <div class="search-form__autocomplete-item">
                    <div class="search-form__autocomplete-name"><b>Айвазовський</b> Сергій Павлович</div>
                </div>
                <div class="search-form__autocomplete-item">
                    <div class="search-form__autocomplete-name"><b>Айвазовський</b> Сергій Павлович</div>
                </div>
                <div class="search-form__autocomplete-item">
                    <div class="search-form__autocomplete-name"><b>Айвазовський</b> Сергій Павлович</div>
                </div>
            </div>

        </div>

        <button class="n-btn n-btn_ico n-btn_search search-form__search">Шукати</button>
    </div>

    <div class="search-form__right">
        <button class="n-btn n-btn_white search-form__deep-search">Детальний пошук</button>
    </div>

</form>