<div class="search-card @@class">

    <div class="search-card__top">
        <div class="search-card__name">Магамадова Танзіла Вахівна</div>
        <div class="search-card__position">2018, Кандидат на посаду</div>

        <div class="search-card__actions-wrap">

            <div class="search-card__actions">

                <div class="search-card__actions-inner">

                    @@include('action-icon-count.html', {
                    "class": "search-card__action",
                    "img" : "marker.svg",
                    "count" : "12",
                    "tooltip": "Список порівнянь"
                    })

                    @@include('action-icon-count.html', {
                    "class": "search-card__action",
                    "img" : "money.svg",
                    "count" : "5",
                    "tooltip": "Список порівнянь"
                    })

                    @@include('action-icon-count.html', {
                    "class": "search-card__action",
                    "img" : "compare.svg",
                    "count" : "11",
                    "tooltip": "Список порівнянь"
                    })

                    @@include('action-icon.html', {
                    "class": "search-card__action",
                    "img" : "favourite.svg",
                    "tooltip": "Список порівнянь"
                    })

                </div>

            </div>

            <div class="search-card__action-link">
                <div class="search-card__action-link-dot"></div>
                <div class="search-card__action-link-dot"></div>
                <div class="search-card__action-link-dot"></div>
            </div>

        </div>

    </div>

    <div class="search-card__items">
        <div class="search-card__item">
            <div class="search-card__item-name">Місце праці</div>
            <div class="search-card__item-text">Харківська область, головне управління Пенсійного фонду
                України в Харківській області
            </div>
        </div>
        <div class="search-card__item">
            <div class="search-card__item-name">Посада</div>
            <div class="search-card__item-text">Головний спеціаліст відділу з питань призначення та
                перерахунків пенсій № 8 управління застосування пенсійного фонду України в Харківскій
                області
            </div>
        </div>
    </div>


</div>