<form class="search-form" id="search">

    <div class="search-form__columns">

        <div class="search-form__left">

            <div class="search-form__input-wrap">

                <input type="text"
                       tabindex="1"
                       class="n-input search-form__input"
                       placeholder="Наприклад: Рошен, Ромашко Роман Петрович, ПП 'РОМДІРОМ', 37504544">

                <div class="search-form__autocomplete">
                    <div class="search-form__autocomplete-item">
                        <div class="search-form__autocomplete-name autocomplete">
                            <div class="autocomplete__personal">
                                <span class="autocomplete__name"><b>Айвазовський Сергій</b></span>
                                <span class="autocomplete__surname"><b>Павлович</b>,</span>
                                <span class="autocomplete__address">вул. Бобкевича, 4/1, м. Стрий</span>
                            </div>
                            <div class="autocomplete__tags">
                                <span class="autocomplete__tag">НАЗК</span>
                                <span class="autocomplete__tag autocomplete__tag--magenta">Регіон</span>
                                <span class="autocomplete__tag autocomplete__tag--orange">Борг</span>
                                <span class="autocomplete__tag autocomplete__tag--green">Рада</span>
                                <span class="autocomplete__tag autocomplete__tag--wave">ДАБІ</span>
                            </div>
                        </div>
                    </div>
                    <div class="search-form__autocomplete-item">
                        <div class="search-form__autocomplete-name autocomplete">
                            <div class="autocomplete__personal">
                                <span class="autocomplete__name"><b>Айвазовський Сергій</b></span>
                                <span class="autocomplete__surname"><b>Павлович</b>,</span>
                                <span class="autocomplete__address">вул. Бобкевича, 4/1, м. Стрий</span>
                            </div>
                            <div class="autocomplete__tags">
                                <span class="autocomplete__tag">НАЗК</span>
                                <span class="autocomplete__tag autocomplete__tag--magenta">Регіон</span>
                                <span class="autocomplete__tag autocomplete__tag--orange">Борг</span>
                                <span class="autocomplete__tag autocomplete__tag--green">Рада</span>
                                <span class="autocomplete__tag autocomplete__tag--wave">ДАБІ</span>
                            </div>
                        </div>
                    </div>
                    <div class="search-form__autocomplete-item">
                        <div class="search-form__autocomplete-name autocomplete">
                            <div class="autocomplete__personal">
                                <span class="autocomplete__name"><b>Айвазовський Сергій</b></span>
                                <span class="autocomplete__surname"><b>Павлович</b>,</span>
                                <span class="autocomplete__address">вул. Бобкевича, 4/1, м. Стрий</span>
                            </div>
                            <div class="autocomplete__tags">
                                <span class="autocomplete__tag">НАЗК</span>
                                <span class="autocomplete__tag autocomplete__tag--magenta">Регіон</span>
                                <span class="autocomplete__tag autocomplete__tag--orange">Борг</span>
                                <span class="autocomplete__tag autocomplete__tag--green">Рада</span>
                                <span class="autocomplete__tag autocomplete__tag--wave">ДАБІ</span>
                            </div>
                        </div>
                    </div>
                    <div class="search-form__autocomplete-item">
                        <div class="search-form__autocomplete-name autocomplete">
                            <div class="autocomplete__personal">
                                <span class="autocomplete__name"><b>Айвазовський Сергій</b></span>
                                <span class="autocomplete__surname"><b>Павлович</b>,</span>
                                <span class="autocomplete__address">вул. Бобкевича, 4/1, м. Стрий</span>
                            </div>
                            <div class="autocomplete__tags">
                                <span class="autocomplete__tag">НАЗК</span>
                                <span class="autocomplete__tag autocomplete__tag--magenta">Регіон</span>
                                <span class="autocomplete__tag autocomplete__tag--orange">Борг</span>
                                <span class="autocomplete__tag autocomplete__tag--green">Рада</span>
                                <span class="autocomplete__tag autocomplete__tag--wave">ДАБІ</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="n-btn n-btn_ico n-btn_search search-form__search">Шукати</button>
        </div>

        <div class="search-form__right">
            <button class="n-btn n-btn_white search-form__deep-search">
                Джерела пошуку<span class="search-form__deep-search-count filter-count" style="width: 0;"></span>
            </button>
        </div>

    </div>

    @@include('deep-search.html')

</form>