.main-page {
  &__banner {
    position: relative;
    background: url("../img/hero.png") #1c5b83 top no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  &__description {
    color: rgba(255, 255, 255, 0.44);
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    @media all and (min-width: 1024px) {
      font-size: 13px;
      font-weight: 600;
      margin-top: 34px;
    }
  }
  &__title {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.18;
    max-width: 760px;
    margin-top: 10px;
    margin-bottom: 23px;
    @media all and (min-width: 1024px) {
      font-size: 44px;
      font-family: Formular;
      margin-bottom: 0;
    }
  }
  &__top {
    padding: 112px 0 40px;
    @include ext-background(#eeeff2);
  }
  &__top-wrap {
    @media all and (min-width: 1024px) {
      @include flex();
      padding: 35px 0 30px;
    }
  }
  &__promo {
    margin: 40px -16px 0;
    @media all and (min-width: 1024px) {
      margin: 62px 0 0;
    }
  }
  &__search {
    @include ext-background(#eeeff2);
    padding-bottom: 58px;
    margin-top: -85px;
    @media all and (min-width: 1024px) {
      margin-top: 0;
    }
  }
  &__advantages {
    max-width: 666px;
  }
  &__why-us {
    padding-top: 82px;
    padding-bottom: 80px;
    border-top: 1px solid rgba(196, 199, 204, 0.4);
  }
}

.sauron {
  position: absolute;
  left: 0;
  @media all and (min-width: 640px) {
    top: 0;
    width: calc(100% + 450px);
  }
  @media all and (min-width: 1024px) {
    left: -110px;
    bottom: 0;
    width: calc(100% + 200px);
  }
  @media all and (min-width: 1300px) {
    top: 0;
  }
  &__text {
    display: none;
    position: absolute;
    top: 84px;
    left: 95px;
    color: #ffffff;
    font-weight: 700;
    @media all and (min-width: 1024px) {
      display: block;
    }
  }
  svg {
    min-width: 380%;
    @media all and (min-width: 640px) {
      min-width: auto;
    }
  }
}

.position-relative {
  position: relative;
}