.search-page {
  margin-top: 15px;
  &__tags {
    margin-bottom: 8px;
    @media all and (min-width: 1024px) {
      margin-bottom: 20px;
    }
  }
  &__tag {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 5px 9px;
    background: #898D93;
    color: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.12);
    border-radius: 2px;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @media all and (min-width: 1024px) {
      margin-bottom: 0;
      margin-right: 14px;
    }
    &:hover {
      background-color: $blue;
    }
  }
  &__tag--active {
    background: $blue;
    border: 1px solid rgba(17, 17, 17, 0.12);
  }
  &__sort {
    margin-top: 16px;
    @media all and (min-width: 1024px) {
      margin-top: 0;
    }
  }
  &__cat {
    display: flex;
    align-items: center;
    &--green {
      .search-page__cat-title {
        color: #56B8AD;
      }
      .search-page__cat-line {
        background-color: #56B8AD;
      }
    }
    &--magento {
      .search-page__cat-title {
        color: #8D479A;
      }
      .search-page__cat-line {
        background-color: #8D479A;
      }
    }
  }
  &__cat-title {
    color: $blue;
    font-size: 16px;
    margin: 0 12px 6px 0;
    @media all and (min-width: 1024px) {
      margin: 20px 12px 0 0;
    }
  }
  &__cat-line {
    flex-grow: 2;
    height: 2px;
    background-color: $blue;
    opacity: 0.16;
    border-radius: 1px;
  }
  &__results-block {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -21px;
  }
  &__results-column {
    box-sizing: border-box;
    max-width: 100%;
    padding: 6px 21px;
    @media all and (min-width: 640px) {
      max-width: 50%;
      flex: 0 0 50%;
    }
    @media all and (min-width: 1024px) {
      max-width: 33.3333%;
      flex: 0 0 33.33333%;
      padding: 21px;
    }
  }
  &__pager {
    margin: 25px 0 0 -4px;
    @media all and (min-width: 1024px) {
      margin: 40px 0 0 0;
    }
  }
  &__promo {
    margin: 12px -16px 20px;
    @media all and (min-width: 1024px) {
      margin: 15px 0;
    }
  }
  &__header {
    margin: 25px 0 15px;
    @media all and (min-width: 640px) {
      @include flex($align-items: center);
    }
    @media all and (min-width: 1024px) {
      margin: 37px 0 29px;
    }
  }
  &__result-name {
    font-size: 16px;
    font-weight: 700;
    @media all and (min-width: 1024px) {
      font-size: 20px;
    }
  }
  &__monitoring {
    margin: 24px 0 16px;
    @media all and (min-width: 1024px) {
      margin: 0;
    }
  }
  &__no-result {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin: 50px auto;
    max-width: 480px;
    @media all and (min-width: 1024px) {
      font-size: 20px;
      margin: 70px auto;
    }
  }
}
