.n-btn {
  background: $green;
  border: 1px solid rgba(#111111, 0.12);
  color: $white;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  padding: 13px 15px;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  font-family:  Inter, Verdana, Arial;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  box-shadow: 0 1px 2px rgba(7, 8, 10, 0.08);
  &:hover {
    background-color: darken($green, 10%);
  }
  &_white {
    background: $white;
    border: 1px solid rgba(17, 17, 17, 0.12);
    color: $base;
    &:hover {
      background: darken($white, 2%);;
      border-color: rgba(17, 17, 17, 0.12);
    }
  }
  &_gray {
    background: #C4C7CC;
    border: 1px solid rgba(17, 17, 17, 0.12);
    box-shadow: none;
    &:hover {
      background: darken(#C4C7CC, 5%);;
    }
  }
  &_ico {
    padding-top: 11px;
    padding-bottom: 11px;
    &:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 2px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
  }
  &_search {
    padding-left: 10px;
    &:before {
      background-image: url('../img/icon/search.svg');
    }
  }
}