.deep-search {
  box-sizing: border-box;
  background: $white;
  border: 1px solid rgba(17, 17, 17, 0.12);
  border-radius: 4px;
  position: relative;
  display: none;
  &.opened {
    display: block;
  }
  @media all and (min-width: 1024px) {
    &:before {
      content: "";
      width: 23px;
      height: 23px;
      background: $white;
      border: 1px solid rgba(17, 17, 17, 0.12);
      border-radius: 3px;
      position: absolute;
      right: 87px;
      top: -12px;
      transform: rotate(45deg);
    }
    &:after {
      content: "";
      width: 50px;
      height: 25px;
      background: $white;
      position: absolute;
      right: 75px;
      top: 0;
    }
  }
  &__inner {
    padding: 20px 20px 0;
    @media all and (min-width: 1024px) {
      max-height: 300px;
      overflow: auto;
    }
  }
  &__title {
    position: relative;
    padding: 20px 20px 0;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 32px;
    @media all and (min-width: 1024px) {
      margin-bottom: 0;
      &:before {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        z-index: 1;
        height: 15px;
        background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 48%, rgba(255,255,255,1) 100%);
      }
    }
  }
  &__all {
    display: inline-block;
    @media all and (min-width: 1024px) {
      margin-bottom: 33px;
    }
    .n-checkbox__label:hover {
      color: $blue;
    }
  }
  &__filters {
    @media all and (min-width: 1024px) {
      display: flex;
    }
  }
  &__filter {
    background: $white;
    margin-bottom: 16px;
    @media all and (min-width: 1024px) {
      width: 25%;
      margin-right: 40px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &.opened {
      .deep-search__filter-body {
        display: block;
      }
      .deep-search__filter-title:before {
        transform: rotate(180deg);
      }
      .deep-search__filter-title {
        svg {
          @media all and (max-width: 1023px) {
            transform: rotate(180deg);
          }
        }
        //@media all and (max-width: 1023px) {
        //
        //  &:before {
        //    margin-top: -7px;
        //    border-color: $green transparent transparent transparent;
        //  }
        //}
      }
    }
    &--green {
      .deep-search__filter-title {
        color: #56B8AD;
        border-bottom: 2px solid rgba(86, 184, 173, 0.16);
      }
      .n-checkbox__label:hover {
        color: #56B8AD;
      }
      .n-checkbox__label-box:before {
        background: url('../img/icon/checked-green.svg') center no-repeat;
      }
    }
    &--magento {
      .deep-search__filter-title {
        color: #8D479A;
        border-bottom: 2px solid rgba(141, 71, 154, 0.16);
      }
      .n-checkbox__label:hover {
        color: #8D479A;
      }
      .n-checkbox__label-box:before {
        background: url('../img/icon/checked-magento.svg') center no-repeat;
      }
    }
    &--orange {
      .deep-search__filter-title {
        color: #FFBB00;
        border-bottom: 2px solid rgba(255, 187, 0, 0.16);
      }
      .n-checkbox__label:hover {
        color: #FFBB00;
      }
      .n-checkbox__label-box:before {
        background: url('../img/icon/checked-orange.svg') center no-repeat;
      }
    }
    &--light-green {
      .deep-search__filter-title {
        color: #B3D245;
        border-bottom: 2px solid rgba(179, 210, 69, 0.16);
      }
      .n-checkbox__label:hover {
        color: #B3D245;
      }
      .n-checkbox__label-box:before {
        background: url('../img/icon/checked-light-green.svg') center no-repeat;
      }
    }
  }
  &__filter-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    padding: 0 12px 6px;
    margin-bottom: 12px;
    margin-top: 24px;
    box-sizing: border-box;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    & .desktop { display: none; }
    & .mobile { display: inline-block; }
    @media all and (min-width: 1024px) {
      display: block;
      cursor: default;
      margin-top: 0;
      padding: 0 0 8px;
      border-bottom: 2px solid rgba(0, 191, 242, 0.16);
      border-radius: 1px;
      & .desktop { display: inline-block; }
      & .mobile { display: none; }
    }
    .filter-count {
      display: inline-block !important;
      margin-left: 7px;
      @media all and (min-width: 1024px) {
        display: none !important;
      }
    }
    .n-checkbox {
      display: none;
      @media all and (min-width: 1024px) {
        display: block;
      }
    }
    .n-checkbox__label-box {
      left: auto;
      right: 0;
    }
    .n-checkbox__label {
      padding-left: 0;
    }
    svg {
      @media all and (min-width: 1024px) {
        display: none;
      }
    }
  }
  &__filter-title-text {
    @media all and (min-width: 1024px) {
      display: none;
    }
  }
  &__filter-body {
    margin-top: 8px;
    display: none;
    @media all and (min-width: 1024px) {
      display: block;
      border: none;
      border-radius: 0;
      margin: 0;
    }
  }
  &__bottom {
    position: relative;
    padding: 12px;
    @media all and (min-width: 1024px) {
      @include flex($justify-content: flex-end, $align-items: center);
      border-top: 1px solid #EEEFF2;
      &:before {
        content: '';
        position: absolute;
        top: -21px;
        left: 0;
        right: 0;
        z-index: 1;
        height: 20px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 48%, rgba(255,255,255,1) 100%);
      }
    }
  }
  &__count-block {
    margin-bottom: 12px;
    padding-top: 8px;
    @media all and (min-width: 1024px) {
      margin: 0 16px 0 0;
      padding-top: 0;
    }
  }
  &__reset {
    @media all and (min-width: 1024px) {
      background: #898D93;
    }
  }
  &__btn {
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 auto 10px;
    &:last-child { margin-bottom: 0; }
    @media all and (max-width: 1023px) {
      display: block;
      width: 100%;
      max-width: 400px;
    }
    @media all and (min-width: 1024px) {
      margin: 0 0 0 13px;
      width: 144px;
      padding: 6px 8px;
    }
  }
}

.filter-year {
  @include flex($flex-wrap: wrap, $justify-content: flex-start, $flex-direction: column);
  margin: -7px -11px;
  @media all and (min-width: 1024px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__item {
    padding: 7px 11px;
    box-sizing: border-box;
  }
}

.position-filter {
  @media all and (min-width: 600px) {
    @include flex();
  }
  &__param {
    @media all and (min-width: 600px) {
      width: 50%;
    }
  }
  &__param-title {
    font-weight: 600;
    margin-bottom: 14px;
    display: none;
    @media all and (min-width: 1024px) {
      display: block;
    }
  }
  &__param-items {
    margin: -6px 0;
    @media all and (min-width: 1024px) {
      @include flex($justify-content: flex-start);
    }
  }
  &__param-item {
    padding: 6px 0;
  }
  &__param-column {
    @media all and (min-width: 1024px) {
      width: 50%;
    }
  }
  &__position {
    margin-top: 20px;
    @media all and (min-width: 600px) {
      margin: 0;
    }
  }
}

.risk-filter {
  &__column {
    @media all and (min-width: 1024px) {
      width: 50%;
    }
  }
  &__item {
    padding: 6px 0;
  }
  &__items {
    margin: -6px 0;
    @media all and (min-width: 1024px) {
      @include flex();
    }
  }
}

.region-filter {
  position: relative;
  &__title {
    font-weight: 600;
    @media all and (max-width: 1023px) {
      border: 1px solid #EEEFF2;
      padding: 3px 16px;
      border-radius: 2px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        right: 15px;
        top: 50%;
        width: 0;
        height: 0;
        border-color: $base transparent transparent transparent;
        border-width: 4px;
        border-style: solid;
        margin-top: -3px;
      }
    }
  }
  &__items-wrap {
    @media all and (min-width: 1024px) {
      display: block !important;
    }
    @media all and (max-width: 1023px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 8px;
      display: none;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -19px;
        right: -19px;
        bottom: -16px;
        border: 1px solid #EEEFF2;
        border-top: none;
        border-radius: 0 0 2px 2px;
        background: $white;
        z-index: -1;
      }
    }
  }
  &__items {
    @media all and (min-width: 1024px) {
      @include flex($flex-wrap: wrap, $justify-content: flex-start);
      margin: 0 -10px;
    }
    @media all and (max-width: 1023px) {
      max-height: 200px;
      overflow: auto;
      border: 1px solid #EEEFF2;
      padding: 16px;
      box-sizing: border-box;
      border-radius: 2px;
      background: $white;
    }
  }
  &__item {
    box-sizing: border-box;
    @media all and (min-width: 1024px) {
      width: 20%;
      padding: 0 10px;
      margin-top: 15px;
    }
    @media all and (max-width: 1023px) {
      margin-bottom: 15px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.region-type-filter {
  margin-bottom: 24px;
  &__title {
    font-weight: 600;
    margin-bottom: 15px;
    display: none;
    @media all and (min-width: 1024px) {
      display: block;
    }
  }
  &__items {
    @media all and (min-width: 1024px) {
      @include flex($justify-content: flex-start);
    }
  }
  &__item {
    max-width: 300px;
    margin-bottom: 15px;
    &:last-child { margin-bottom: 0; }
    @media all and (min-width: 1024px) {
      width: 50%;
      margin: 0;
    }
  }
}

.filter-count {
  color: $white;
  background: $blue;
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-weight: 700;
  font-size: 14px;
  display: block;
}

.main-page {
  .deep-search {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
  }
}