.search-form {
  position: relative;
  padding-top: 85px;
  @media all and (min-width: 1024px) {
    padding-top: 0;
  }
  &__columns {
    @media all and (min-width: 1024px) {
      @include flex();
    }
  }
  &__left {
    flex: auto;
    position: relative;
    @media all and (min-width: 1024px) {
      @include flex();
      padding-right: 20px;
    }
  }
  &__right {
    flex-shrink: 0;
  }
  &__input-wrap {
    position: relative;
    flex: auto;
    @media all and (min-width: 1024px) {
      margin-right: 20px;
    }
  }
  &__autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: $white;
    border: 1px solid $blue;
    border-radius: 0 0 2px 2px;
    margin-top: -2px;
    z-index: 100;
    display: none;
  }
  &__autocomplete-item {
    border-bottom: 1px solid #EEEFF2;
    padding: 7px 14px;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.3s linear;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: $blue;
    }
    @media all and (min-width: 1024px) {
      padding: 11px 16px;
      font-size: 14px;
    }
  }
  &__input {
    @media all and (max-width: 1023px) {
      padding-right: 45px;
    }
    @media all and (min-width: 1024px) {
      font-weight: 500;
      padding: 13px 16px;
      height: 48px;
    }
  }
  &__deep-search {
    overflow: visible;
    &-count {
      position: absolute;
      top: -5px;
      right: -33px;
      margin-left: 7px;
      display: inline-block;
      @media all and (min-width: 1024px) {
        position: static;
        vertical-align: middle;
      }
    }
    @media all and (max-width: 1023px) {
      //color: #FFFFFF;
      box-shadow: none;
      background: none;
      border: none;
      padding: 0 13px 0 0;
      margin-top: 20px;
      position: relative;
      &:hover {
        background: none;
        opacity: 0.8;
      }
      &:after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-color: #111111 transparent transparent transparent;
        border-style: solid;
        border-width: 4px 3px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -2px;
      }
    }
    @media all and (min-width: 1024px) {
      padding: 11px 0;
      width: 175px;
    }
  }
  &__search {
    @media all and (max-width: 1023px) {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -16px;
      text-indent: -100px;
      overflow: hidden;
      background: url('../img/icon/search-green.svg') center no-repeat;
      padding: 0;
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      box-shadow: none;
      border: none;
      &:before {
        display: none;
      }
    }
    @media all and (min-width: 1024px) {
      flex-shrink: 0;
    }
  }
  &__deep-search-block {
    margin-top: 25px;
    @media all and (max-width: 1023px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin-top: 10px;
      z-index: 50;
    }
  }
}
.autocomplete {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  color: #898D93;
  &__surname, &__address {
    display: none;
    @media all and (min-width: 1024px) {
      display: inline;
    }
  }
  &__personal {
    b {
      color: $black;
    }
  }
  &__tags {
    display: inline-flex;
    align-items: center;
  }
  &__tag {
    display: inline-block;
    margin-left: 6px;
    padding: 2px 4px;
    border-radius: 2px;
    background: $blue;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    &--magenta {
      background: #8D479A;
    }
    &--orange {
      background: #FFBB00;
    }
    &--green {
      background: #B3D245;
    }
    &--wave {
      background: #56B8AD;
    }
    &:first-child {
      @media all and (max-width: 1023px) {
        display: none;
      }
    }
  }
}
.main-page__search {
  .search-form {
    &__deep-search {
      @media all and (max-width: 1023px) {
        color: #FFFFFF;
        &:after {
          border-color: #ffffff transparent transparent transparent;
        }
      }
    }
  }
}