.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #EEEFF2;
  @media all and (min-width: 1024px) {
    background: #ffffff;
    position: static;
  }
  
  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    @include flex($align-items: center);
    padding: 10px 20px;
    @media all and (min-width: 1024px) {
      padding: 16px 20px;
    }
  }
  &__column {
    @include flex($justify-content: flex-start, $align-items: center);
    @media all and (max-width: 1023px) {
      width: 33.3%;
      &:nth-child(2) { @include flex($justify-content: center); }
      &:nth-child(3) { @include flex($justify-content: flex-end); }
    }
  }
  &__menu {
    padding: 0 12px;
  }
  &__lang-switch {
    display: none;
    @media all and (min-width: 1024px) {
      display: block;
      margin: 0 30px 0 25px;
    }
  }
  &__lang-switch-mobile {
    margin: 0 20px;
  }
  &__account {
    margin-left: 25px;
  }
  &__support {
    display: none;
    .n-btn {
      display: block;
    }
    @media all and (min-width: 1024px) {
      display: block;
    }
  }
  &__mobile {
    @media all and (min-width: 1024px) {
      display: none;
    }
  }
}
.header.home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  @media all and (min-width: 1024px) {
    background: transparent;
  }
  .logo-block {
    display: none;
  }
  .main-menu__link {
    color: rgba(255, 255, 255, 0.5);
  }
}